body{
    
    background:#eee;
}
.share-input:focus {
  outline: 0 !important;
  box-shadow: none;
}

.share-input {
  outline: 0 !important;
  box-shadow: none;
}

.publish {
  border-radius: 0px!important;
  background: blue;
  color: #fff;
  cursor: pointer;
}

.publish:hover {
  border-radius: 0px!important;
  background: rgb(22,22,232);
  color: #fff;
  cursor: pointer;
}

.share i {
  color: rgb(159,159,242) !important;
}

.share {
  cursor: pointer;
}

.ads-text {
  font-size: 10px;
}

.ads-content span {
  font-size: 12px;
}

.time {
  font-size: 12px;
  color: blue;
}

.profile-content span {
  font-size: 12px;
}

.content-image img {
  width: 100%;
  height: auto;
}

.ads-content img {
  width: 100%;
}